{
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "useTabs": true,
	"jsxSingleQuote": true
}
